[client]
user={{ mysql_users[1].name }}
password={{ mysql_users[1].password }}

[mysql]
user={{ mysql_users[1].name }}
password={{ mysql_users[1].name }}

[mysqldump]
user={{ mysql_users[1].name }}
password={{ mysql_users[1].name }}